/Diccionario-Git/dist/
/Diccionario-Git - isert mejorado/Diccionario-Git/build/
/Diccionario-Git - isert mejorado/Diccionario-Git/nbproject/private/
/Diccionario-Git/Diccionario-Git/build/
/Diccionario-Git/Diccionario-Git/nbproject/private/